/* common */
html,
body {
  font-family: "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

.mes {
  padding-top: 20px;
}

.mes p {
  padding-top: 30px;
  font-size: 18px;
  line-height: 26px;
}

.mes .n4 {
  padding: 50px;
  position: relative;
  left: 850px;
  padding-top: 112px;
  width: 142px;
}

.mes .n4 .txt_box {
  font-size: 18px;
  font-weight: 300;
}

.txt_box {
  margin-bottom: 10px;
}

/* 메인 이미지 */
.main {
  width: 100%;
  min-width: 1280px;
  height: 424px;
  background: url(/images/company/story_visual_banner_pc.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both;
}


.main h2 {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0px;
  font-size: 45px;
  color: #222222;
}

.main p {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  padding-top: 54px;
}


.section.no-pad-bot {
  padding-bottom: 0;
}

/* 회사개요 회사연혁 제품연혁 */
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0;
}

.container2 {
  width: 1200px;
  margin: auto;
}

.cnb3 {
  width: 1200px;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

.cnb3 ul {
  display: flex;
  height: 124px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}

.cnb3 a.on:hover {
  color: #dc2c34;
  border-bottom: 5px solid #dc2c34;
}

.on {
  display: block;
  color: #666;
  width: 240px;
  height: 75px;
  font-size: 18px;
}

.dep3 {
  height: 100px;
  line-height: 50px;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.dep3 ul.cnb3 li {
  width: 33.3333%;
}

.breadcruma {
  font-size: 14px;
  color: #666;
}

.breadcrumb {
  font-size: 14px;
  color: #666;
}

*,
::before,
*:after {
  box-sizing: inherit;
}

.breadcrumb::before {
  content: "/";
  color: #666666;
  vertical-align: top;
  /* display: inline-block; */
  font-weight: normal;
  font-size: 14px;
  margin: 0 3px 0 3px;
}

.path {
  height: 80px !important;
  line-height: 60px;
}

/* .btnTop a {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  text-indent: -9999px;
  display: block;
  background-color: rgba(28, 56, 99, 0.5);
  background: url(/images/company/btn_Top.jpg) no-repeat center center;
  z-index: 3333333333333333333333;
} */

.fixed_area {
  right: 10px;
  width: 80px;
  position: fixed;
  bottom: 20px;
  z-index: 200;
}

.btn_top.on {
  display: block;
}

.btn_top {
  width: 80px;
  height: 72px;
  background: url(/images/common/btn_top_pc.svg) no-repeat 0 0 / 100%;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
}
.sr_only {
  position: absolute;
  top: -99999px;
  font-size: 0;
  height: 0;
}