
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

/* 폰트*/
body {
    font-family: 'Noto Sans','Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}


/* 초기화 */
body,
header,
main,
footer,
section,
nav,
div,
h1,
h2,
h3,
p,
ul,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
button {
    margin: 0;
    padding: 0
}

*,
::before,
*:after {
    box-sizing: inherit;
}

.hide {
    display: none;
}

a,
li {
    list-style: none;
    text-decoration: none;
    color: #1d1d1b;
}

html {
    line-height: 1.5;
    font-weight: normal;
    color: #333;
}

div {
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0;
}