@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Nanum Gothic', sans-serif;
   scroll-behavior: smooth;
   /* font-family: 'Roboto Mono', monospace; */
}

.hide {
   position: absolute;
   width: 0 !important;
   height: 0 !important;
   overflow: hidden;
   margin: -1px;
   text-indent: -9999px;
   border: 0 none !important
}

div {
   display: block;
}

a {
   text-decoration: none;
   color: black;
}

ul,
li {
   list-style: none;
}

/* 헤더 부분 */
.header_nav>ul>li>a {
   text-decoration: none;
   color: black;
   font-weight: 600;
   font-size: 18px;
   transition: all ease-in 0.3s;
}

.header_nav>ul>li>a:hover {
   color: #DF2D32;
}

.header_nav>ul>li>ul>li>a {
   text-decoration: none;
   color: rgb(82, 82, 82);
   font-size: 15px;
}

.header_nav>ul>li>ul>li>a:hover {
   color: #DC2F34;
   font-weight: bold;
   border-bottom: 2px solid #DC2F34;
}

.header_wrap {
   width: 100%;
   position: relative;
   height: 180px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: url(../images/main/wave-haikei.svg);
}

.header_container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding-right: 60px;
   /* background: red; */
}

.ottugi_title {
   margin-left: 60px;
}

.ottugi_title h1 {
   text-indent: -9999px;
}

.ottugi_title img {
   width: 70px;
}

.header_all_wrap {
   position: relative;
}

.header_nav>ul {
   height: 80px;
   display: flex;
   margin: 50px 0 0 0;
   justify-content: space-between;
   align-items: center;
   /* background: blue; */
}

.header_nav>ul>li {
   font-size: 20px;
   /* height: 60px; */
   line-height: 40px;
   padding-right: 60px;
   /* background: green; */
}

.header_nav ul ul {
   position: absolute;
   top: 110px;
   height: 460px;
   display: none;
   z-index: 4100;
}

.lang_menu_btn {
   position: absolute;
   top: 75px;
   right: -50px;
}

.lang_menu_btn img {
   width: 30px;
}

/* 토글버튼 */
.toggle_btn {
   display: none;
}

.lang {
   position: absolute;
   background: #fff;
   text-align: center;
   padding: 5px;
   top: 110px;
   right: -100px;
   display: none;
   border: 1px solid #b8b8b8;
   border-radius: 10px;
   z-index: 9999;
}

.lang_down a {
   font-weight: bold;
   font-size: 20px;
}

.lang_list {
   position: absolute;
   background: #dbdbdb;
   top: 0px;
   right: -55px;
   height: 90px;
   padding: 10px;
   display: none;
   border: 1px solid #b8b8b8;
   border-radius: 10px;
   z-index: 4000;
}

.lang_list p {
   margin-bottom: 5px;
}

.lang_list p:hover {
   font-weight: bold;
}

.lang_down,
.ottugi_search,
.ottugi_chat,
.ottugi_mall {
   padding: 8px;
}

.ottugi_mall {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;
}

.ottugi_mall img {
   width: 95px;
}

.nav_bg {
   position: absolute;
   top: 170px;
   left: 0;
   width: 100%;
   height: 450px;
   background: linear-gradient(0deg, rgba(150, 152, 124, 1) 0%, rgba(255, 242, 0, 1) 46%, rgba(254, 241, 0, 1) 99%);
   display: none;
   z-index: 4000;
}



/* 메인 부분 */
.sitemap_back {
   height: 300px;
   background: url(../images/main/sitemap_back.jpg) no-repeat 50% 50%;
   background-size: cover;
   text-indent: -9999px;
}

.list_h2 {
   padding-top: 80px;
   text-align: center;
}

.list_h2 h2{
   font-size: 48px;
   font: 600;
}

.list_content_wrap {
   margin: 80px 300px;
}

.list_h3 h3{
   font-size: 24px;
   font-weight: bold;
   line-height: 34px;
   text-align: center;
   background: #FFED00;
   padding: 13px 0;
   border-radius: 100px;
}

.list_ul>ul>li {
   display: flex;
   align-items: center;
   text-align: center;
   margin: 10px 0;
   padding: 14px 0;
}

.list_ul>ul>li>a {
   min-width: 230px;
   font-size: 20px;
   font-weight: bold;
   color: #3c3c3c;
}

.list_ul ul ul {
   display: flex;
   flex-wrap: wrap;
   font-size: 18px;
   line-height: 26px;
}

.list_ul>ul>li>ul>li {
   margin: 5px 30px 5px 10px;
}

.list_ul>ul>li>ul>li>a:hover {
   color: #e0585c;
   border-bottom: 3px solid #e0585c;
}



/* 푸터 */
.footer_top_container {
   height: 70px;
   border-top: 1px solid #c7c7c7;
   border-bottom: 1px solid #c7c7c7;
   display: flex;
   background: #F7F7F7;
   /* justify-content: space-between;
   align-items: center; */
}

.footer_top {
   width: 1200px;
   margin: auto;
}

.footer_top ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer_top ul li a {
   font-size: 15px;
   font-weight: bold;
   margin-right: 30px;
   color: #3c3c3c;
}

.f_left {
   float: left;
   margin: 8px 0 0 0;
}

.f_right {
   float: right;
}

.footer_bottom_container {
   position: relative;
   max-width: 1200px;
   margin: auto;
   font-size: 13px;
   font-weight: 400;
}

.footer_bottom_container ul {
   display: flex;
}

.footer_bottom_container ul li p {
   margin-bottom: 6px;
}

.b_left {
   margin: 15px 0 0 20px;
}

.b_right {
   margin: 30px 0 0 25px;
}

.b_last_img {
   position: absolute;
   top: 30px;
   right: 0px;
}